<style>
  nav a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
</style>


<nav class="bg-white text-gray-800 p-4 flex justify-between items-center border-b border-gray-200">
  <a routerLink="/home" class="flex items-center">
    <img src="https://images.pexels.com/photos/47730/the-ball-stadion-football-the-pitch-47730.jpeg" alt="Logo" class="h-12 w-12 rounded-full">
    <span class="ml-2 text-xl font-bold">Football Stats</span>
  </a>
  <div class="flex space-x-4">
    <a routerLink="/ligue1">Ligue 1</a>
    <a routerLink="/seriea">Serie A</a>
    <a routerLink="/premier-league">Premier League</a>
    <a routerLink="/laliga">La Liga</a>
  </div>
</nav>
